<!DOCTYPE html>
<html>
<head>
	<title>Food Bank</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="foodbank container">
		{% if name %}
			<ul class="navigation flex-item">
				<li class="username"><a href="#">{{ name }}</a></li>
				<li class="home"><a href="/">Home</a></li>
				<li class="notifications"><a href="#">Notifications</a></li>
			</ul>
			<div class="main">
				<ul class="nearby">
					<li>Restaurant #1</li>
					<li>Restaurant #2</li>
					<li>Restaurant #3</li>
				</ul>

				<div class="request">
					<h3>What do you need?</h3>

					<form action="">
						<div class="field">
							<label for="name">Food:</label><br>
							<input type="text" id="name" name="name">
						</div>

						<div class="field">
							<label for="name">Qty:</label><br>
							<input type="text" id="name" name="name">
						</div>

					</form>

					<ul class="order">
						
					</ul>

				</div>
			</div>

		{% else %}

			<div class="query container">
				<p class="flex-item">What food bank are you?</p>
				<form class="flex-item" action="{{ url_for('handle_name', user_type='foodbank') }}" method="post">
					<label for="name">Food Bank:</label>
					<input type="text" id="name" name="name">

					<input type="submit" name="Submit">
				</form>
			</div>

		{% endif %}
	</div>
</body>
</html>