<!DOCTYPE html>
<html>
<head>
	<title>Food Bank</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>


</head>
<body>
	<div class="foodbank container">
		{% if name %}
			<ul class="navigation flex-item">
				<li class="username"><a href="#">{{ name }}</a></li>
				<li class="home"><a href="/">Home</a></li>
				<li class="notifications"><a href="#">Notifications</a></li>
			</ul>
			<div class="main">
				<ul class="nearby" id="nearby">
					<li>Restaurant #1</li>
					<li>Restaurant #2</li>
					<li>Restaurant #3</li>
				</ul>

				<div class="request">
					<h3>What do you need?</h3>

					<form id="requestform" action="">
						<div class="field">
							<label for="name">Food:</label><br>
							<input type="text" id="food" name="name">
						</div>

						<div class="field">
							<label for="name">Qty:</label><br>
							<input type="text" id="qty" name="name">
						</div>

						<input type="button" value="Add to List" id="requestadd">


					</form>

					<ul id="requestorder">
						
					</ul>

					<input type="button" value="Place Order" id="placeorder">

				</div>
			</div>

		{% else %}

			<div class="query container">
				<p class="flex-item">What food bank are you?</p>
				<form class="flex-item" action="{{ url_for('handle_location', user_type='foodbank') }}" method="post">

					<label for="name"><a href="https://developers.google.com/maps/documentation/javascript/examples/places-placeid-finder">Location:</a></label>
					<input type="text" id="location" name="location">

					<input type="submit" name="Submit">
				</form>

				<ul id="nameresults"></ul>
			</div>

		{% endif %}


		<script src="{{ url_for('static', filename='foodbank.js') }}"></script>	
	</div>
</body>
</html>