<!DOCTYPE html>
<html>
<head>
	<title>Food Bank</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="foodbank container">
		{% if name %}
			<p class='username flex-item'>{{ name }}</p>
		{% else %}

			<p class="flex-item">What food bank are you?</p>
			<form class="flex-item" action="{{ url_for('handle_name', user_type='foodbank') }}" method="post">
				<label for="name">Food Bank:</label>
				<input type="text" id="name" name="name">

				<input type="submit" name="Submit">
			</form>

		{% endif %}
	</div>
</body>
</html>