<!DOCTYPE html>
<html>
<head>
	<title>Restaurant</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">	
</head>
<body>
	{% if name %}
		<p>Hello Restaurant {{ name }}!</p>
	{% else %}
		<p>What restaurant are you?</p>
		<form action="{{ url_for('handle_name', user_type='restaurant') }}" method="post">
			<label for="name">Restaurant:</label>
			<input type="text" id="name" name="name"><br>

			<input type="submit" name="Submit">
		</form>
	{% endif %}
</body>
</html>